@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151b23;
  color: #f0f6fc;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: rgb(161, 242, 187);
}

button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
body,
html,
header,
section,
main,
span,
ol,
ul,
li,
blockquote {
  padding: 0;
  margin: 0;
  border: 0;
}
button:before,
p:before,
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before,
input:before,
body:before,
html:before,
header:before,
section:before,
main:before,
span:before,
button:after,
p:after,
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after,
input:after,
body:after,
html:after,
header:after,
section:after,
main:after,
span:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  background-color: #262c36;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: calc(100% - 2 * 20px);
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  padding: 20px 60px;
  width: calc(100% - 2 * 60px);
}

div {
  border-radius: 6px;
  margin: 40px auto;
  max-width: 500px;
  overflow: hidden;
}

div > img {
  width: 100%;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
  margin: 0 0 30px;
}

p {
  line-height: 22px;
}
