.container 


{background    : 10px    ;
background:       10px;

.lol{color: 20px;




.xd   






{






  height: 10px;

  height: 1%;
}}



border   : 10px;border: 10px;       border: 10px;}


div{
  color: 10000000000px;
}