.outer {
  .inner {
    margin: 2px;
    padding: 2px;





    .wayMoreInner {
      margin: 5px;

      .abar {
        margin: 




        
        
        
        
        5px;
      }




    }

    .wayMoreInntWO {
      margin: 5px
      
      
      ;




      .abaTWO {
        margin
        
        
        : 
        
        5px
        
        
        ;
      }
    }
  }
}

.parallel {
  margin:
  
  
  
  3px;

  .lol
  
  
  {
    margin: 5px
    
    
    ;

    .a {
      padding:
      
      
      
      9999px;
    }

    #loooooool {
      margin: 9990px;
    }
  }
}
